




// Debugging colors can be added
$debuging: yellow;
$deep-debuging: #ff0000;


// App Use
$border-input-bottom: rgba(0,0,0, 0.6);
$alert-message: rgba(51, 66, 2, 0.5);
$alert-error: rgba(236, 10, 10, 0.5);
$loading-spinner: rgba(236, 10, 10, 0.5);