


// Common break points
$mobile-min: 320px;
$mobile-max: 480px;
$ipad-min: 481px;
$ipad-max: 768px;
$small-screen-laptop-min: 769px;
$small-screen-laptop-max: 1024px;
$desktop-min: 1025px;
$desktop-max: 1200px;
$large-screens: 1201px;